
//noinspection CssUnknownTarget
@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700';
@import 'https://fonts.googleapis.com/css?family=Roboto';

@font-face {
  font-family: Goudy;
  src: url(fonts/GoudyBookletter1911.ttf)
}

@body-font: Lato, 'Open Sans', sans-serif;
@body-font-size: 18px;
@serif-font: Goudy, 'Droid Serif', serif;
@roboto-font: Roboto, 'Open Sans', sans-serif;

